.container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    color: #5A5B5B;
}

.container img {
    margin-left: 12px;
}



.range {
    display: flex;
    align-items: center;
    margin-top: -18px;
    font-family: "Mallory";
    font-size: 10px;
    font-weight: normal;

}

.range p {
    margin: 0px;
    margin-bottom: 5px;
    color: black;
}

.line {
    border-style: dashed;
    width: 36px;
    height: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 36px;
}

.range__box {
    border: 1px black solid;
    width: 102px;
    height: 25px;
    display: inline-block;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding-right: 5px;
}

.range__wrapper input[type="text"] {
    box-sizing: border-box;
    border: 1px black solid;
}

.range__wrapper input[type="text"]:focus {

    box-sizing: border-box;
    border: 2px #75a8f9 solid;
    border-radius: 2px;
    outline: none;
    
}

.range__box p {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: "Mallory Book";
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
}

.range__label {
    margin: 0px;
    margin-bottom: 5px;
    color: black;
    display: block;
}

.range__span {
    margin: 0px;
    position: relative;
    left: 5px;
    display: inline-block;
    top: 39px;
    font-size: 13px;
    font-family: "Mallory Book";
    font-weight: normal;
    color: black;

}

.range_slider {
    margin-top: -25px;
    margin-left: 12px;
}
