.checkbox {
    margin: 0px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    background: white;
    border: 1px #e8e8e8 solid;
    border-radius: 2px;
    margin-right: 10px;
    overflow: hidden;
}


.checkbox__hover {

    border: 1px #8cb6fb solid;

}

.container {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: "Mallory";
    font-weight: normal;
    color: #5a5b5b;
    margin-bottom: 14px;
}

.container:hover {
    color: #8cb6fb;
}