@font-face {
    font-family: "Mallory Book";
    src: url('../public/fonts/Mallory\ Book.ttf');
    font-weight: normal;
    font-style: normal;
  }
    
@font-face {
    font-family: "Mallory";
    src: url('../public/fonts/Mallory\ Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Mallory";
    src: url('../public/fonts/Mallory\ Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Mallory";
    src: url('../public/fonts/Mallory\ Medium.ttf');
    font-weight: medium;
    font-style: normal;
}


.fullPage {
    width: 100%;
    background-color: white;
    height: 100vh;
}

body {
    padding: 0%;
    margin: 0%;
}

input[type="checkbox"] {
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


input[type="text"] {
    box-sizing: border-box;
    border: 1px black solid;
}

input[type="text"]:focus {

    box-sizing: border-box;
    border: 2px #75a8f9 solid;
    border-radius: 2px;
    outline: none;
    
}