.header {

    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: white;
    padding: 0px 16px 0px 35px;
    color: black;
    align-items: center;
}

.header_left {
    display: flex;
}

.header_right {
    display: flex;
}

.topic_container {
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    line-height: 17px;
}

.topic_container ul{
    list-style-type: none;
    padding-inline-start: 22px;
}

.topic_container li {
    float: left;
    margin-left: 32px;
}


.flex {
    display: flex;
    align-items: center;
}