.header {

    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: white;
    padding: 0px 16px 0px 35px;
    color: black;
    align-items: center;
}

.header_left {
    display: flex;
}

.header_right {
    display: flex;
    height: 50px;
}

.topic_container {
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    line-height: 17px;
}

.topic_container ul{
    list-style-type: none;
    padding-inline-start: 22px;
}

.topic_container li {
    float: left;
    margin-left: 32px;
    cursor: pointer;
}

.topic_container li:hover {
    color: #539afa;
}


.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.icon_container {
    display: flex;
    margin-left: 6px;
    margin-right: 6px;
    min-width: 54px;
    cursor: pointer;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bars_hover {
    background-color: #87b3fb;
    border-radius: 10px;

}